{% load static %}

<div class="row d-flex justify-content-center pt-3">
    <form id="calibrate-data-form" class="col-md-4 d-flex form-inline align-content-center" method="post"
          action="{% url "data_presenter:calibrate" %}" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group mb-2 form-group-container d-flex justify-content-center">
            <div class="container">
                <div class="row w-100"><h6>Calibrate upload</h6></div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input disabled" id="data-calibration"
                           style="margin-left: 20px" required name="calibrate-data-file">
                    <label class="custom-file-label" for="data-calibration">Choose file</label>
                </div>
                <div class="d-flex flex-row-reverse w-100 text-right template_download px-0"><a
                        href="{% url "data_presenter:calibrate-template" %}" download>Download data template.xlsx</a>
                </div>
            </div>
        </div>
        <div class="w-100 d-flex justify-content-between mb-2">
            <button type="submit" class="btn btn-primary form-button">Calibrate</button>
        </div>
        <button type="button" id="report-button" class="btn btn-primary mb-2 form-button"
                data-url="{% url "data_presenter:report" %}">Report
        </button>

    </form>
    <div class="plots-container row col-md-8 d-flex justify-content-center">
        <div class="col-md-7">
            <img id="calibrated-plot" src="{% static 'images/plot-place-holder.png' %}"
                 class="plot-image w-100">
        </div>
        <div id="calibrate-plot-text" class="mt-4 ml-sm-5 font-weight-bold pt-sm-5"></div>
    </div>
</div>