{% extends "base.html" %}
{% load static %}

{% block content %}
    {% include "origin_row.html" %}
    {% include "calibration_row.html" %}

    <div id="plot-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div id="modal-plot-content" class="modal-content">
                <div class="w-100 h100 d-flex justify-content-center">
                    <img id="modal-plot-image" src="#">
                </div>
            </div>
        </div>
    </div>

    <div id="pdf-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <iframe id="pdf-holder" style="height: 500px"></iframe>
            </div>
        </div>
    </div>
{% endblock %}

